<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.appcliente">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.App">

        <!-- ESTE ES EL ICONO DE LA NOTIFICACIONv -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_restaurant_black_24dp" /> <!-- ESTE ES EL COLOR DEL BORDE DE LA NOTIFICACIONv -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/color_carnico_transparente" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.TrackActivity"
            android:theme="@style/AppTheme">

        </activity>

        <service
            android:name=".ui.notificaciones.NotificacionFirebaseService"
            android:exported="false"
            android:icon="@drawable/ic_notificacion"
            android:logo="@drawable/ic_notificacion"
            android:roundIcon="@drawable/ic_notificacion">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>